<p>first works!</p>

<div id="sample2" [froalaEditor]="options" [(froalaModel)]="content">
</div>
<!-- <div id="sample3" [froalaEditor]="videoOptions" [(froalaModel)]="video">
</div> -->

<!-- <div id="froalaEditor" [froalaEditor]="imageData" [(froalaModel)]="content">

</div> -->

<!-- <button id="hacky-button-because-froala"
(click)="someFunction()">click</button>
<div id="ret" [froalaEditor]="ret" (blur)="someFunction()"> 
    <p (blur)="someFunction()">Froala editor rocks!!!</p>
  </div> -->




  <!-- the Below editor is based on server upload code -->
        <!-- <div id="froalaEditor" [froalaEditor]="imageData">
          <h2>File upload example.</h2>
          <form>
            <textarea id="edit" name="content"></textarea>
          </form>
        </div> -->
 